<div class="main__container">
    <div class="login-card">

        <main class="login-content">
            <span class="login-header">Login</span>
            <!-- login form -->
            <form class="login-form" #authform="ngForm">
                <input ngModel type="email" autofocus [(ngModel)]="email" placeholder="Email" name="email" class="login-input" required>
                <input ngModel type="password" [(ngModel)]="password" placeholder="Password" name="password" class="login-input" minlength="1" required>
                <input type="submit" name="submit" value="Login" class="login-btn" [class.btn-disabled]="!authform.form.valid" [disabled]="!authform.form.valid" (click)="login()">
            </form>

            <!-- Sign Up / Guest  -->
            <div class="signup-link-wrapper">
                <span>Don't have an account?</span>
                <button mat-button class="signup-link" routerLink="/register">Sign up</button>
            </div>
        </main>

        <!-- Welcome Message -->
        <aside class="login-aside">
            <div class="login-aside-overlay"></div>
            <h1 class="login-welcome-text">Welcome</h1>
            <hr class="login-aside-hr">
        </aside>
    </div>
</div>